@import "../../styles/colours";
$margin: 1rem;
$padding: 0.75rem;

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $opsview-light-grey;
  padding: $padding;
  margin-bottom: $margin;
  margin-top: $margin;

  &:hover {
    background-color: darken($opsview-light-grey, 2.5%);
  }
  &:first-child {
    margin-top: 0rem;
    margin-bottom: $margin;
  }
  &:last-child {
    margin-top: $margin;
    margin-bottom: 0rem;
  }
}
