@import "../../styles/colours.scss";

.container {
  height: 100%;
  width: 100%;
  background-color: white;
}

.childrenWrapper {
  padding: 1rem;
  // Full height, minus height of navbar, minus padding top and bottom
  height: calc(100% - 75px - 2rem);
}

.navBar {
  height: 75px;
  background-color: $opsview-brand-colour;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
}

.navBar__img {
  width: auto;
  height: 5rem;
}

.navBar__links {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: white;
  font-size: 125%;
}

.navBar__links:last-child {
  padding-left: 0.75rem;
  padding-right: 0rem;
}

.navBar__link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: inherit;
  }
  &:active {
    opacity: 0.5;
  }
}
