.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listHeader b {
  font-size: 150%;
}

.buttonWrapper {
  display: inherit;
  align-items: inherit;
}

.supplementaryText {
  margin-right: 0.75rem;
}
