<!-- This is the template that Webpack uses to generate the index.html file -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div style="height:100%;width:100%;" id="opsview-web"></div>
</body>
</html>
