@import "../../styles/colours";

$margin: 1rem;
$padding: 1rem;

.hostgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $opsview-light-grey;
  padding: $padding;
  margin-bottom: $margin;
  margin-top: $margin;

  &:hover {
    background-color: darken($opsview-light-grey, 2.5%);
  }
  &:active {
    outline: 0.25rem solid lighten($opsview-brand-colour, 7.5%);
  }
  &:first-child {
    margin-top: 0rem;
    margin-bottom: $margin;
  }
  &:last-child {
    margin-top: $margin;
    margin-bottom: 0rem;
  }
}

.hostgroup__title div {
  margin-bottom: 0.5rem;
}

.hostgroup__title b {
  font-size: 125%;
}
