.hostgroup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hostgroup__title div {
  margin-bottom: 0.5rem;
}

.hostgroup__title b {
  font-size: 115%;
}

.hostgroup__dialLabel {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 0.75rem;
  padding-right: 0.1rem;
}

.hostgroup__highlights {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  @media (max-width: 1200px) {
    display: none;
  }
}

.hostgroup__highlights span {
  overflow: hidden;
  text-overflow: ellipsis;
}
